.main{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #a0a0a0ad;
    position: relative;
    font-size: 1.3rem;
}

.main h2{
    background-color: #5d2fdb;
    padding:1em;
    color: #fff;
    text-shadow: 0px 3px 5px rgb(29, 29, 29);
    text-align: center;
    font-size: 2rem;
}

form{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap:3em;
    padding: 0.5em;
    overflow: auto;
    justify-content: center;
    text-align: left;
}

.group{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
    align-items: center;
}

label{
    margin-left: 3px;
    color: #5d2fdb;
    font-size: 1.3rem;
}

input{
    height:30px;
    outline: none;
    padding: 5px;
    border: 1.4px solid lightgrey;
    border-radius: 3px;
    font-family: 'Give You Glory';
    font-size: 1.2rem;
}

.reset{
    margin: auto;
    width:200px;
    border: none;
    padding: 0.5em;
    border-radius:2px;
    color: #fff;
    background-color:#5d2fdb;
    font-size: 1.2rem;
}

.reset:hover{
    cursor: pointer;
    background-color:#12b16f;
    transition: all 0.2s ease;
    border-radius: 1px;
    transform: scale(1.05);
    box-shadow: 0px 2px 5px rgb(150, 147, 147);
}

.back{
    text-decoration: underline;
    color: red;
    text-align: center;
    font-size: 1.2rem;
}

@media screen and (max-width: 752px){
    .group{
        display:grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
}