html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue",serif;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    background-color: #f6f6fc;
    grid-gap:1em;
}

header{
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
}

.normal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #5d2fdbfc;
    padding: 1em;
}

#searchresult{
    background-color: white;
    color: #047af7;
    width: fit-content;
    display: flex;
    flex-direction:column;
    border-radius:5px;
    box-shadow:0px 0px 5px rgba(211, 211, 211, 0.76);
}

#searchresult p{
    padding: 5px;
}

#searchresult{
    background-color: white;
    color: #047af7;
    width: fit-content;
    display: flex;
    flex-direction:column;
    border-radius:5px;
    box-shadow:0px 0px 5px rgba(211, 211, 211, 0.76);
}

#searchresult p{
    padding: 5px;
}

#dropmenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
}

.picturemenu{
    background: #fff !important;
    min-width:120px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px #eee;
    align-items: center;
    bottom: -70px;
    gap: 1em;
    padding: 1em 0.5em;
}

.droplink{
    text-decoration: none;
    color: #047af7;
}

.droplink:hover{
    color:#ee4f4f;
}

.small{
    display: none;
    box-shadow: 1px 1px 10px rgba(228, 228, 228, 0.719);
}

.title{
    color: #fff;
    text-shadow: 0px 3px 5px rgb(29, 29, 29);
    text-align: center;
    font-size: 2rem;
}

.fgroup input{
    padding: 5px;
    height: 30px;
    border: none;
    border-radius: 5px;
    outline: none;
}

input[type="search"]{
    min-width: 250px;
}

.searchbtn{
    color: white;
    background: #047af7;
}

.searchbtn:hover{
    transition: all 0.1s ease-in;
    background: #f4312e;
    cursor: pointer;
}

.profilepic{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-color: white;
    border: 2px solid #047af7;
    padding: 2px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    gap: 3em;
    position: relative;
    min-height: 100px;
    width: 80%;
    margin: auto;
    position: relative;
}

.menu{
    position: sticky;
    top: 120px;
    display: flex;
    flex-direction: column;  
    height: fit-content;
    text-align: center;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.menu h2{
    background-color: #5d2fdb;
    padding:0.5em;
    color: #fff;
    text-shadow: 0px 3px 5px rgb(29, 29, 29);
    text-align: center;
    font-size: 2rem;
}

.menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    padding: 1em;
}

.menu li{
    border-bottom: 1px solid #5d2fdb;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    width: fit-content;
}

.fas{
    color: #5d2fdb;
    padding: 1em;
}

.menu a{
    text-decoration: none;
    color: #5d2fdb;
    height: fit-content;
    width: 100%;
    padding: 1em;
}

.menu li:hover a, .menu li:hover .fas{
    color: #047af7;
}

.active{
    border-bottom: 1px dashed #047af7 !important;
}

.active a, .active .fas{
    color: #047af7;
}

.content{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 80%;
    background-color: #fff;
}

.box{
    padding: 1em;
    margin: auto;
    display: flex;
    flex-direction:column;
    gap: 1em;
    width: 100%;
    text-align: center;
}

.info{
    display: flex;
    flex-direction:column;
    gap: 0.2em;
    padding:0.3em;
}

.info img{
    width: 70%;
    height: 300px;
    margin: auto;
}

.status{
    background: #84bbf5;
    margin: auto;
    width: fit-content;
    padding: 0.5em;
    border-radius: 5px;
    box-shadow:1px 0px 10px rgba(0,0,0,0.3);
}

.isfriend{
    color: rgb(28, 119, 5);
    font-weight: bolder;
}

.send{
    color: rgb(235, 19, 19);
    font-weight: bolder;
}

.done{
    color: white;
    font-weight: bolder;
}


@media screen and (max-width:900px){
    .menu{
        display: none;
    }

    .small{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding:0.5em;
        background-color: rgb(255, 255, 255);
    }

    .small a{
        text-decoration: none;
        justify-content: center;
        padding: 0.5em;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        border-radius: 50%;
        background: #ffffff;
        box-shadow: 1px 1px 10px #e8e8e889;
    }

    .small a .fas{
        color: #047af7;
    }

    .small a:hover .fas{
        color: #ee4f4f;
        transform: scale(1.05);
    }

    #logout{display:none}

    #active{
        color: #ee4f4f;
        box-shadow: 0px 0px 5px #ee4f4f56;
    }

    #active .fas{
        color: #ee4f4f;
        transform: scale(1.05);
    }

    .container,.content{
        width:100%;
    }

    .info img{
        width: 100%;
        height: 300px;
    }
}


@media screen and (max-width:550px){
    .menu{
        display: none;
    }

    header{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        height: auto;
    }

    header #dropmenu{
        display: none;
    }

    #logout{
        display:flex !important;
    }
}