<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/friends.css">
    <script src="https://kit.fontawesome.com/1f88d87af5.js" crossorigin="anonymous"></script>
    <title>Friends</title>
</head>
<body>

    <header>
        <div class="normal">
            <h1 class="title">MySocial</h1>

            <form action="">
            <div class="fgroup">
                <input type="search" name="" id="" placeholder="search user by name">
                <input type="submit" value="search" class="searchbtn">
            </div>
            </form>

            <img src="../../assets/image/user/profile/male.png" alt="" class="profilepic">

        </div>

        <nav class="small">
            <a href="timeline.html"><i class="fas fa-stream"></i></a>
            <a href="friends.html" id="active"><i class="fas fa-user-friends"></i></a>
            <a href="photos.html"><i class="fas fa-images"></i></a>
            <a href="settings.html"><i class="fas fa-cog"></i></a>
        </nav>
        
    </header>

    <div class="container">

        <div class="menu">
            <h2>Menu</h2>
            <nav>
                <ul>
                    <li><i class="fas fa-stream"></i><a href="timeline.html">Timeline</a></li>
                    <li class="active"><i class="fas fa-user-friends"></i><a href="friends.html">Friends</a></li>
                    <li><i class="fas fa-images"></i><a href="photos.html">Photos</a></li>
                    <li><i class="fas fa-cog"></i><a href="settings.html">Settings</a></li>                                           
                </ul>
            </nav>
        </div>

        <div class="content">

            <h3 class="friendcount">8 friends</h3>
            <hr>
            <div class="userbox">

                <div class="friend">
                    <img src="../../assets/image/user/profile/male.png" alt="" class="friendimg">
                    <p class="friendname">Last name First name</p>
                    <p class="friendemail">his@mail.me</p>
                    <p class="friendbirth">1999/12/22</p>
                    <a href="" class="btnshow">See profil</a>
                </div>

                <div class="friend">
                    <img src="../../assets/image/user/profile/female.png" alt="" class="friendimg">
                    <p class="friendname">Last name First name</p>
                    <p class="friendemail">his@mail.me</p>
                    <p class="friendbirth">1999/12/22</p>
                    <a href="" class="btnshow">See profil</a>
                </div>

                <div class="friend">
                    <img src="../../assets/image/user/profile/male.png" alt="" class="friendimg">
                    <p class="friendname">Last name First name</p>
                    <p class="friendemail">his@mail.me</p>
                    <p class="friendbirth">1999/12/22</p>
                    <a href="" class="btnshow">See profil</a>
                </div>

                <div class="friend">
                    <img src="../../assets/image/user/profile/male.png" alt="" class="friendimg">
                    <p class="friendname">Last name First name</p>
                    <p class="friendemail">his@mail.me</p>
                    <p class="friendbirth">1999/12/22</p>
                    <a href="" class="btnshow">See profil</a>
                </div>

                <div class="friend">
                    <img src="../../assets/image/user/profile/female.png" alt="" class="friendimg">
                    <p class="friendname">Last name First name</p>
                    <p class="friendemail">his@mail.me</p>
                    <p class="friendbirth">1999/12/22</p>
                    <a href="" class="btnshow">See profil</a>
                </div>

                <div class="friend">
                    <img src="../../assets/image/user/profile/male.png" alt="" class="friendimg">
                    <p class="friendname">Last name First name</p>
                    <p class="friendemail">his@mail.me</p>
                    <p class="friendbirth">1999/12/22</p>
                    <a href="" class="btnshow">See profil</a>
                </div>

                <div class="friend">
                    <img src="../../assets/image/user/profile/female.png" alt="" class="friendimg">
                    <p class="friendname">Last name First name</p>
                    <p class="friendemail">his@mail.me</p>
                    <p class="friendbirth">1999/12/22</p>
                    <a href="" class="btnshow">See profil</a>
                </div>

                <div class="friend">
                    <img src="../../assets/image/user/profile/male.png" alt="" class="friendimg">
                    <p class="friendname">Last name First name</p>
                    <p class="friendemail">his@mail.me</p>
                    <p class="friendbirth">1999/12/22</p>
                    <a href="" class="btnshow">See profil</a>
                </div>

            </div>

        </div>

    </div>

</body>

</html>