<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/photos.css">
    <script src="https://kit.fontawesome.com/1f88d87af5.js" crossorigin="anonymous"></script>
    <title>Photos</title>
</head>
<body>

    <header>
        <div class="normal">
            <h1 class="title">MySocial</h1>

            <form action="">
            <div class="fgroup">
                <input type="search" name="" id="" placeholder="search user by name">
                <input type="submit" value="search" class="searchbtn">
            </div>
            </form>

            <img src="../../assets/image/user/profile/male.png" alt="" class="profilepic">

        </div>

        <nav class="small">
            <a href="timeline.html"><i class="fas fa-stream"></i></a>
            <a href="friends.html"><i class="fas fa-user-friends"></i></a>
            <a href="photos.html" id="active"><i class="fas fa-images"></i></a>
            <a href="settings.html"><i class="fas fa-cog"></i></a>
        </nav>
        
    </header>
    

    <div class="container">

        <div class="menu">
            <h2>Menu</h2>
            <nav>
                <ul>
                    <li><i class="fas fa-stream"></i><a href="timeline.html">Timeline</a></li>
                    <li><i class="fas fa-user-friends"></i><a href="friends.html">Friends</a></li>
                    <li class="active"><i class="fas fa-images"></i><a href="photos.html">Photos</a></li>
                    <li><i class="fas fa-cog"></i><a href="settings.html">Settings</a></li>                                           
                </ul>
            </nav>
        </div>

        <div class="content">

            <h3 class="picturecount">6 Pictures</h3>
            <hr>
            <div class="picturebox">

                <div class="picture">
                    <img src="../../assets/image/site/6.jpeg" alt="">
                    <div class="bottom">
                        <i class="fas fa-thumbs-up"> 2</i>
                        <p class="posted">posted: 2022/02/11 at 15:10</p>
                    </div>
                </div>

                <div class="picture">
                    <img src="../../assets/image/site/1.jpeg" alt="">
                    <div class="bottom">
                        <i class="fas fa-thumbs-up"> 2</i>
                        <p class="posted">posted: 2022/02/11 at 15:10</p>
                    </div>
                </div>

                <div class="picture">
                    <img src="../../assets/image/site/2.jpeg" alt="">
                    <div class="bottom">
                        <i class="fas fa-thumbs-up"> 2</i>
                        <p class="posted">posted: 2022/02/11 at 15:10</p>
                    </div>
                </div>

                <div class="picture">
                    <img src="../../assets/image/site/5.jpeg" alt="">
                    <div class="bottom">
                        <i class="fas fa-thumbs-up"> 2</i>
                        <p class="posted">posted: 2022/02/11 at 15:10</p>
                    </div>
                </div>

                <div class="picture">
                    <img src="../../assets/image/site/3.jpeg" alt="">
                    <div class="bottom">
                        <i class="fas fa-thumbs-up"> 2</i>
                        <p class="posted">posted: 2022/02/09 at 12:10</p>
                    </div>
                </div>

                <div class="picture">
                    <img src="../../assets/image/site/4.jpeg" alt="">
                    <div class="bottom">
                        <i class="fas fa-thumbs-up"> 2</i>
                        <p class="posted">posted: 2022/02/08 at 10:40</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

</body>
</html>