<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/user.css">
    <script src="https://kit.fontawesome.com/1f88d87af5.js" crossorigin="anonymous"></script>
    <title>Timeline</title>
</head>
<body>

    <header>
        <div class="normal">
            <h1 class="title">MySocial</h1>

            <form action="">
            <div class="fgroup">
                <input type="search" name="" id="" placeholder="search user by name">
                <input type="submit" value="search" class="searchbtn">
            </div>
            </form>

            <img src="../../assets/image/user/profile/male.png" alt="" class="profilepic">

        </div>

        <nav class="small">
            <a href="#ref" id="active"><i class="fas fa-stream"></i></a>
            <a href="friends.html"><i class="fas fa-user-friends"></i></a>
            <a href="photos.html"><i class="fas fa-images"></i></a>
            <a href="settings.html"><i class="fas fa-cog"></i></a>
        </nav>
        
    </header>

    <div class="container">

        <div class="menu">
            <h2>Menu</h2>
            <nav>
                <ul>
                    <li class="active"><i class="fas fa-stream"></i><a href="#ref">Timeline</a></li>
                    <li><i class="fas fa-user-friends"></i><a href="friends.html">Friends</a></li>
                    <li><i class="fas fa-images"></i><a href="photos.html">Photos</a></li>
                    <li><i class="fas fa-cog"></i><a href="settings.html">Settings</a></li>                                           
                </ul>
            </nav>
        </div>

        <div class="content" id="ref">

            <form action="" class="postfield" enctype="multipart/form-data">
                <h3 >Want to post something ?</h3>
                <textarea name="" id="" cols="30" rows="10" placeholder="write something..."></textarea>
                <div class="imgbox">
                <div class="imgpostbox">
                    <input type="file" name="imgpost" accept="image/png,  image/jpeg" class="file">
                </div>
                    <span class="uploadtext">Upload picture</span>
                </div>
                <input type="submit" value="Post" class="postbtn">
                
            </form>

            <div class="userpost">
                <div class="profilpic">
                    <img src="../../assets/image/user/profile/female.png" alt="" class="profilepic">
                    <div class="group">
                        <a href="" class="namelink">First Name Last Name</a>
                        <p>30 min</p>
                    </div>
                </div>
                <div class="post">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum ea voluptate minus aliquam illo dolor, porro unde tempora voluptates expedita ab corrupti reiciendis odio excepturi voluptas earum et, accusamus tempore!</p>
                    <img src="../../assets/image/user/profile/male.png" alt="">
                </div>
                <div class="action">
                        <a href="" class="like"><i class="fas fa-thumbs-up"></i>I like</a>
                        <a href=""><i class="fas fa-comment"></i>Comment</a>
                </div>
            </div>

            <div class="userpost">
                <div class="profilpic">
                    <img src="../../assets/image/user/profile/male.png" alt="" class="profilepic">
                    <div class="group">
                        <a href="">First Name Last Name</a>
                        <p>12h</p>
                    </div>
                </div>
                <div class="post">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum ea voluptate minus aliquam illo dolor, porro unde tempora voluptates expedita ab corrupti reiciendis odio excepturi voluptas earum et, accusamus tempore!</p>
                    <img src="../../assets/image/user/profile/female.png" alt="">
                </div>
                <div class="action">
                        <a href=""><i class="fas fa-thumbs-up"></i>I like</a>
                        <a href=""><i class="fas fa-comment"></i>Comment</a>
                </div>
            </div>

            <div class="userpost">
                <div class="profilpic">
                    <img src="../../assets/image/user/profile/male.png" alt="" class="profilepic">
                    <div class="group">
                        <a href="">First Name Last Name</a>
                        <p>12h</p>
                    </div>
                </div>
                <div class="post">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum ea voluptate minus aliquam illo dolor, porro unde tempora voluptates expedita ab corrupti reiciendis odio excepturi voluptas earum et, accusamus tempore!</p>
                    <img src="../../assets/image/user/profile/male.png" alt="">
                </div>
                <div class="action">
                        <a href=""><i class="fas fa-thumbs-up"></i>I like</a>
                        <a href=""><i class="fas fa-comment"></i>Comment</a>
                </div>
            </div>

        </div>

    </div>

</body>
<script src="../../assets/script/user.js"></script>
</html>